$bg_boxChart: #494848;
$checkApple:#B0B0B0;
$checkSamsung:#317BFD;
$checkHUAWEI: #EF2310;
$checkXIAOMI: #EF6910;
$checkNOKIA:#00A554;
$checkHONOR:#FFB500;
$bg_backgroundSection:#505050;
.priceComponent_chartjs_right_chartbox{
    border-radius: 17px;
}

.priceComponent_chartjs_size_chart{
    display: flex!important;
    width: 90%!important;
    height: 20%!important;
    margin: auto!important;
    
}
.priceComponent_chartjs_d_ltr{
    direction: ltr;
    margin-right: -1vw;
}
.priceComponent_chartjs_form_check {
    border-radius: 3.25em!important;
    border: none;
}
.priceComponent_chartjs_widthApple{
    width: 0.8vw;
}
.priceComponent_chartjs_widthSamsung{
    width: 4vw;
}
.priceComponent_chartjs_widthHuawei{
    width: 3vw;
}
.priceComponent_chartjs_widthMi{
    width: 1vw;
}
.priceComponent_chartjs_widthNokia{
    width: 3vw;
}
.priceComponent_chartjs_widthHonor{
    width: 3vw;
}
.priceComponent_chartjs_margin_right{
    margin-right: 0.8vw;
}
@media (min-width: 600px){
    .col_box {
       flex: 0 0 auto;
       width: 50%;
   }
}
// @media only screen and (max-width: 600px) {
//     .priceComponent_chartjs_widthApple {
//         width: 3vw;
//     }
//     .priceComponent_chartjs_widthSamsung{
//         width: 1vw;
//     }
// }