.priceComponent_cardSection_squareCard_MainContainer {
    width: 126px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 6px;
    p, div {
        padding: 0;
        margin: 0;
    }
    .divTopContainer {
        width: 100%;
        height: 129px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        background-color: #353535;
        border-radius: 17px;
        margin-bottom: 3px;
        text-decoration: none;
    }
    .divBottomContainer {
        width: 100%;
        height: 129px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        background-color: #353535;
        border-radius: 17px;
        margin-top: 3px;
        text-decoration: none;
    }
    .pFaTitle {
        color: #ffffff;
        font-size: 14px;
        font-family: BYekan;
        margin-top: 10px;
        margin-right: 14px;
        letter-spacing: -1px;
    }
    .pEnTitle {
        color: #999999;
        font-family: "Myriad Arabic Regular", sans-serif;
        font-size: 10px;
        margin-top: -4px;
        margin-right: 14px;
        letter-spacing: -1px;
    }
    .divChartContainer {
        width: 111px;
        height: 34px;
        margin-top: 9px;
        margin-bottom: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .pPriceMargin {
        font-family: BYekan;
        font-size: 11px;
        letter-spacing: -1px;
        margin-right: 14px;
    }
    .pPrice {
        color: #FFFFFF;
        font-family: BYekan;
        font-size: 18px;
        margin-top: -5px;
        margin-right: 14px;
        letter-spacing: -4px;
    }
}